{% load static %}
<section class="rankSec">
    <div class="rankLogoWrap ">
        <div class="rankLogo">
            <img src="{% static 'images/logo3/logo1.png' %}" height="" width="" align="logo">
        </div>
        <div class="rankLogo">
            <img src="{% static 'images/logo3/logo2.png' %}" height="" width="" align="logo">
        </div>
        <div class="rankLogo">
            <img src="{% static 'images/logo3/logo3.png' %}" height="" width="" align="logo">
        </div>
    </div>
    <div class="middle">
        <div class="cont">
            <h1>FIND PERFECT WAY TO LEAD
                TOP RANKED UNIVERSITIES</h1>
        </div>
    </div>
    <div class="rankLogoWrap rankLogoWrap2">
        <div class="rankLogo">
            <img src="{% static 'images/logo3/logo4.png' %}" height="" width="" align="logo">
        </div>
        <div class="rankLogo">
            <img src="{% static 'images/logo3/logo5.png' %}" height="" width="" align="logo">
        </div>
        <div class="rankLogo">
            <img src="{% static 'images/logo3/logo6.png' %}" height="" width="" align="logo">
        </div>
    </div>
</section>