{% load static %}
<section class="uniSec">
    <div class="logoWrap">
        <a class="logoBox" href="#">
            <img src="{% static 'images/logo1/logo1.png' %}" height="" width="" align="logo">
        </a>
        <a class="logoBox" href="#">
            <img src="{% static 'images/logo1/logo2.png' %}" height="" width="" align="logo">
        </a>
        <a class="logoBox" href="#">
            <img src="{% static 'images/logo1/logo3.png' %}" height="" width="" align="logo">
        </a>
        <a class="logoBox" href="#">
            <img src="{% static 'images/logo1/logo4.png' %}" height="" width="" align="logo">
        </a>
        <a class="logoBox" href="#">
            <img src="{% static 'images/logo1/logo5.png' %}" height="" width="" align="logo">
        </a>
    </div>
    <div class="uniBottom">
        <h1>YOUR QUICK BOOK TO EXPLORE LEADING WORLD UNIVERSITIES</h1>
    </div>
</section>