{% load static %}
<footer class="footer">
    <div class="wrapper">
        <div class="footerFlex">
            <div class="left">
                <h6>Countries</h6>
                <p><a href="#"> Study in USA</a> | <a href="#">Study in Canada</a> | <a href="#">Study in Australia</a>
                    | <a href="#">Study in UK</a> | <a href="#">Study in New Zealand</a> | <a href="#">Study in
                        France</a> | <a href="#">Study in Ireland </a>|<a href="#">Study in Germany</a> |<a href="#">
                        Explore all countries</a></p>
                <h6>Exams</h6>
                <p><a href="#">GMAT</a> | <a href="#">GRE</a> | <a href="#">IELTS</a> | <a href="#">PTE</a> |<a
                        href="#"> SAT</a> | <a href="#">TOEFL</a> |<a href="#"> Which exam to give?</a> | <a href="#">IELTS
                    v/s TOEFL v/s PTE?</a></p>
                <h6>Colleges</h6>
                <p><a href="#">MBA Colleges</a> | <a href="#">MS Colleges</a> | <a href="#">BE/BTech Colleges</a> |<a
                        href="#"> BBA Colleges</a> |<a href="#"> Masters in Hospitality</a> | <a href="#">Masters in
                    Journalism</a></p>
                <h6>Finances</h6>
                <p><a href="#">Apply for Education Loan</a> | <a href="#">Scholarships for USA</a> |<a href="#">
                    Scholarships for Canada</a> | <a href="#">Scholarships for Australia</a> | <a href="#">Scholarships
                    for UK</a> |
                    <a href="#">Education loan for USA</a> | <a href="#">Education loan for Canada</a> | <a href="#">Education
                        loan for Australia</a> |<a href="#"> Education loan for UK</a></p>
            </div>
            <div class="right">
                <div class="fooLogo">
                    <a href="#" class="logo"><img src="{% static 'images/logo.svg' %}" height="" width=""
                                                  alt="logo"></a>
                    <p>Time Cons</p>
                </div>
                <div class="contactWrap">
                    <h5>Contact Us:</h5>
                    <p><a href="tel:info@yourdomain.com"><i class="fa fa-mobile"></i>+92 308 4578 123</a></p>
                    <p><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope-o"></i>info@yourdomain.com </a></p>
                </div>
                <ul class="socialIcons">
                    <li><a href="#" class="fa fa-facebook-f"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>